@import "tailwindcss";

@theme {
  /* theme Colors */
  --color-sag-green: #32cb32;
  --color-light-blue: #4e95d9; 
  --color-dark-blue: #104862;
  --color-dark-green: #275317;
  --color-dark-green-2: #3d8124;
  --color-dark-green-3: #2a8209;

  --color-gray-li: #f3f4f6;
  --color-gray-mdli: #d1d5dc;

  --color-gray-md: #6a7282;

  --color-gray-darker: #030712;
  --color-gray-dk: #101828;
  --color-gray-mddk: #364153;




  /* --------------------- */
  /* ---- Definitions ---- */
  /* --------------------- */

  /* General */
  --color-primary: var(--color-sag-green);

  --color-background: var(--color-white);
  --color-overlay: color-mix(in srgb, var(--color-black), transparent 30%);


  /* Text */
  --color-txt: var(--color-gray-dk);
  --color-txt-title: var(--color-gray-darker);
  --color-txt-subtitle: var(--color-gray-mddk);
  --color-txt-label: var(--color-gray-mddk);

  /* Basic elements */
  --color-elem-background: var(--color-gray-li);
  --color-border: var(--color-gray-mdli);
  --color-hover-border: var(--color-sag-green);
  --color-hover-full: color-mix(in srgb, var(--color-primary), transparent 45%);
  --color-focus-border: var(--color-sag-green);
  --color-contrast-border: var(--color-transparent); /* For high-contrast */


  /* special cases */
  --color-text-input-background: var(--color-white);


}

@layer base {
  :root {
    color-scheme: light;
  }
  
  [data-theme="dark"] {
    color-scheme: dark;

    /* General */
    --color-primary: var(--color-dark-green-3);

    --color-background: var(--color-gray-800);
    --color-overlay: color-mix(in srgb, var(--color-black), transparent 45%);


    /* Text */
    --color-txt: var(--color-gray-li);
    --color-txt-title: var(--color-gray-white);
    --color-txt-subtitle: var(--color-gray-mdli);
    --color-txt-label: var(--color-gray-mdli);

    /* Basic elements */
    --color-elem-background: var(--color-gray-darker);
    --color-border: var(--color-gray-md);
    --color-hover-border: var(--color-sag-green);
    --color-hover-full: color-mix(in srgb, var(--color-primary), transparent 40%);
    --color-focus-border: var(--color-sag-green);
    --color-contrast-border: var(--color-transparent); /* For high-contrast */


    /* special cases */
    --color-text-input-background: var(--color-gray-mddk);

    
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.4);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.4);
  }

}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



/* -------------------------- */
/* -------- Buttons --------- */
/* -------------------------- */
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  @apply opacity-80 scale-105;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-txt-title);
  border-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
}

.btn-secondary {
  background-color: var(--color-background);
  color: var(--color-txt);
  border-color: var(--color-border);
  box-shadow: var(--shadow-sm);
}
.btn-secondary:focus{
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-focus-border);
}

.btn-neutral {
  background-color: var(--color-elem-background);
  color: var(--color-txt);
  border-color: var(--color-elem-background);
  box-shadow: var(--shadow-sm);
}
.btn-neutral:hover {
  @apply opacity-100 scale-100;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-hover-border);
}
.btn-neutral:focus{
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-focus-border);
}


/* -------------------------- */
/* ------- text input ------- */
/* -------------------------- */

.text-input-outer {
  display: flex;
  align-items: center;
  border-radius: var(--radius-md); /* rounded-md */
  padding-left: calc(var(--spacing) * 3); /* pl-3 */
  background-color: var(--color-text-input-background);
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-border);
}
.text-input-outer:has(input:focus-within) {
  outline-width: 2px;
  outline-color: var(--color-focus-border);
}

.text-input-inner {
  width: calc(var(--spacing) * 18);
  padding-block: calc(var(--spacing) * 1.5);
  padding-right: calc(var(--spacing) * 3);
  padding-left: calc(var(--spacing) * 1);
  font-size: var(--text-base);
  line-height: var(--tw-leading, var(--text-base--line-height));
  color: var(--color-txt); /* text-text-input-content */
}
.text-input-inner:focus {
  outline: none;
}

.text-input-label {
  font-size: var(--text-base);
  line-height: var(--tw-leading, var(--text-base --line-height));
  color: var(--color-txt-label);
  -webkit-user-select: none;
  user-select: none;
}
